.movie-card {
  border: 3px dashed teal;
  width: 20%;
  height: 15rem;
  margin: 1rem;
}
.movie-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: .3s;
}
.movie-card > img {
  height: 80%;
  width: 100%;
}

#movie-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
h2 {
  margin-top: 7rem;
}

select {
  width: 70%;
  height: 2rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding-left: 1%;
}
